.bg-linear{background: linear-gradient(45deg, #231fbf, #63175f);}
.shadow{box-shadow: 0 35px 55px black;}
.g{gap: 30px;}
.ls{letter-spacing: 0.2em;}
.text-blue{color: #231fbf;}
.bg-blue{background-color: #231fbf;}
.h{height: 15px;}